{%load static%}
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

	<div class="container">
		<a class="navbar-brand" href="index.html">Furni<span>.</span></a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
			aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsFurni">
			<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'home' %}">Home</a>
				</li>
				<li><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
				<li><a class="nav-link" href="{% url 'about' %}">About us</a></li>

				<li><a class="nav-link" href="{% url 'contactus' %}">Contact us</a></li>

			</ul>

			<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
				<li><a class="nav-link" href="#"><img src="{%  static  'images/user.svg' %}"></a></li>
				<li><a class="nav-link" href="{% url 'cart' %}">
						<img src="{%  static  'images/cart.svg' %}">
						{% if cart_count > 0 %}
						<span class="badge bg-danger rounded-pill"
							style="font-size: 0.6rem; vertical-align: top; margin-left: -10px;">{{ cart_count }}</span>
						{% endif %}
					</a></li>
				{% if user.is_authenticated %}
				<!-- Dropdown for logged-in user -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						Hello, <strong>{{ user.username }}</strong>
					</a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
						<li><a class="dropdown-item" href="/orders">Orders</a></li>
						{% if user.customer.is_seller %}
						<li><a class="dropdown-item" href="{% url 'seller_dashboard' %}">Seller Dashboard</a></li>
						<li><a class="dropdown-item text-danger" href="{% url 'seller_logout' %}">Seller Logout</a></li>
						{% else %}
						<li><a class="dropdown-item" href="{% url 'become_seller' %}">Become a Seller</a></li>
						<li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
						{% endif %}
					</ul>
				</li>
				{% else %}
				<!-- Show for non-logged-in users -->
				<li class="nav-item">
					<a href="/login" class="nav-link">User Login</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'seller_login' %}" class="nav-link">Seller Login</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>

</nav>