{% extends 'blank_layout.html' %}
{% load static %}
{% block content %}

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="intro-excerpt">
                    <h1>{{product.name}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->


<div class="untree_co-section before-footer-section">
    <div class="container">
        <div class="row">

            <!-- Product Image -->
            <div class="col-12 col-md-6 mb-5">
                <img src="{{product.image.url}}" alt="Nordic Chair" class="img-fluid rounded shadow">
            </div>

            <!-- Product Info -->
            <div class="col-12 col-md-6 mb-5">
                <h2 class="text-black mb-3">{{product.name}}</h2>


                <strong class="text-primary h3 d-block mb-3">₹{{product.price}}</strong>

                <p class="mb-3">
                    {% if product.stock > 0 %}
                    <span class="text-success fw-bold">Available Stock: {{ product.stock }}</span>
                    {% else %}
                    <span class="text-danger fw-bold">Out of Stock</span>
                    {% endif %}
                </p>

                <form method="post" action="{% url 'add_to_cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{product.id}}" class="form-control w-25">

                    <!-- Quantity -->
                    <div class="mb-4 d-flex align-items-center">
                        <span class="me-3 fw-bold">Quantity:</span>
                        <input type="number" value="1" min="1" max="{{ product.stock }}" name="qty"
                            class="form-control w-25" {% if not product.stock %} disabled {% endif %}>
                    </div>

                    <!-- Add to Cart -->
                    <button type="submit" class="btn btn-primary rounded-pill px-4 py-2" {% if not product.stock %}
                        disabled {% endif %}>
                        Add to Cart
                    </button>


                </form>



                <!-- Details -->
                <div class="mt-4">
                    <h5>Product Details</h5>
                    <p>
                        {{product.description}}
                    </p>

                </div>
            </div>

        </div>

    </div>
</div>

{% endblock content %}